@font-face {
  font-family: "Exo";
  src: local("Exo"), url(./assets/fonts/Exo/Exo-VariableFont_wght.ttf);
}

html {
  background-color: rgb(100, 100, 100);
  color: aqua;
}

body {
  margin: 0;
  font-family:
    "Exo",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
